
.icon-lock:before { content: '\e800'; } /* '' */
.icon-lock-open:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-alert:before { content: '\e803'; } /* '' */
.icon-sign:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-tools:before { content: '\e806'; } /* '' */
.icon-share:before { content: '\e807'; } /* '' */
.icon-receive:before { content: '\e808'; } /* '' */
.icon-send:before { content: '\e809'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-shuffle:before { content: '\e80b'; } /* '' */
.icon-coin:before { content: '\e80c'; } /* '' */
.icon-confirmation-0:before { content: '\e80d'; } /* '' */
.icon-confirmation-1:before { content: '\e80e'; } /* '' */
.icon-confirmation-2:before { content: '\e80f'; } /* '' */
.icon-confirmation-3:before { content: '\e810'; } /* '' */
.icon-network:before { content: '\e811'; } /* '' */
.icon-globe:before { content: '\e812'; } /* '' */
.icon-cloud:before { content: '\e813'; } /* '' */
.icon-cloud-thunder:before { content: '\e814'; } /* '' */
.icon-paper-plane:before { content: '\e815'; } /* '' */
.icon-seed:before { content: '\e816'; } /* '' */
.icon-key:before { content: '\e817'; } /* '' */
.icon-rocket:before { content: '\e818'; } /* '' */
.icon-block:before { content: '\e819'; } /* '' */
.icon-arrows-ccw:before { content: '\e81a'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-cancel:before { content: '\e81c'; } /* '' */
.icon-help-circled:before { content: '\e81d'; } /* '' */
.icon-info-circled:before { content: '\e81e'; } /* '' */
.icon-lifebuoy:before { content: '\e81f'; } /* '' */
.icon-credit-card:before { content: '\e820'; } /* '' */