@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-25okah');
	src:url('fonts/icomoon.eot?#iefix-25okah') format('embedded-opentype'),
		url('fonts/icomoon.woff?-25okah') format('woff'),
		url('fonts/icomoon.ttf?-25okah') format('truetype'),
		url('fonts/icomoon.svg?-25okah#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-exchange:before {
	content: "\e600";
}
.icon-mining:before {
	content: "\e601";
}
.icon-receive-coins:before {
	content: "\e602";
}
.icon-send-coins:before {
	content: "\e603";
}
.icon-feather:before {
	content: "\e604";
}
.icon-vcard:before {
	content: "\e605";
}
.icon-house:before {
	content: "\e606";
}
.icon-cog:before {
	content: "\e607";
}
.icon-language:before {
	content: "\e609";
}
.icon-network:before {
	content: "\e60a";
}
.icon-key:before {
	content: "\e60b";
}
.icon-earth:before {
	content: "\e60c";
}
.icon-progress-3:before {
	content: "\e60d";
}
.icon-progress-2:before {
	content: "\e60e";
}
.icon-brogress-1:before {
	content: "\e60f";
}
.icon-progress-0:before {
	content: "\e610";
}
.icon-creditcard:before {
	content: "\e608";
}
.icon-statistics:before {
	content: "\e611";
}
.icon-lock:before {
	content: "\e612";
}
.icon-lock-open:before {
	content: "\e613";
}
.icon-checkmark:before {
	content: "\e614";
}
.icon-cross:before {
	content: "\e615";
}
.icon-blocked:before {
	content: "\e616";
}
.icon-info:before {
	content: "\e617";
}
.icon-help:before {
	content: "\e618";
}
.icon-warning:before {
	content: "\e619";
}
.icon-cycle:before {
	content: "\e61a";
}
.icon-shuffle:before {
	content: "\e61b";
}
.icon-seed:before {
	content: "\e61c";
}
