<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coinomi.wallet"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.coinomi.wallet.WalletApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_dev"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.coinomi.wallet.ui.WalletActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustomActionBar"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.PasswordConfirmationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.SignTransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.ScanActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.coinomi.wallet.ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustomActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coinomi.wallet.ui.WalletActivity" />
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.AddCoinsActivity"
            android:label="@string/title_activity_add_coins"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustomActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coinomi.wallet.ui.WalletActivity" />
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.TransactionDetailsActivity"
            android:label="@string/title_activity_transaction_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustomActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coinomi.wallet.ui.WalletActivity" />
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.ExchangeRatesActivity"
            android:label="@string/title_activity_exchange_rates"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustomActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coinomi.wallet.ui.WalletActivity" />
        </activity>
        <activity
            android:name="com.coinomi.wallet.ui.PreviousAddressesActivity"
            android:label="@string/title_activity_previous_addresses"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustomActionBar" >
        </activity>

        <provider
            android:name="com.coinomi.wallet.ExchangeRatesProvider"
            android:authorities="com.coinomi.wallet.dev.exchange_rates"
            android:exported="false" />
        <provider
            android:name="com.coinomi.wallet.AddressBookProvider"
            android:authorities="com.coinomi.wallet.dev.address_book"
            android:exported="false" />

        <service
            android:name="com.coinomi.wallet.service.CoinServiceImpl"
            android:exported="false" />
    </application>

</manifest>
